body {
  max-width: 1920px;
}

.group-gap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.group-card {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
  margin-top: 30px;
}

.card {
  background-color: hsl(300, 43%, 22%);
  width: 330px;
  height: 235px;
  border-radius: 7.5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  justify-self: start;
  padding: 15px;
  flex-wrap: nowrap;
}

.card:nth-child(1) {
  margin-left: 130px;
}

.card:nth-child(2) {
  margin-top: 50px;
}

.card:nth-child(3) {
  margin-top: 100px;
}

.card-rating {
  background-color: hsl(300, 24%, 96%);
  border-radius: 7.5px;
  height: 45px;
  padding: 5px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-rating:nth-child(1) {
  margin-left: 50px;
  margin-bottom: 5px;
}

.card-rating:nth-child(2) {
  margin-left: 100px;
  margin-bottom: 5px;
}

.card-rating:nth-child(3) {
  margin-left: 150px;
}

.card-rating h4 {
  color: hsl(300, 43%, 22%);
}

.group-stars {
  margin-top: 5px;
  gap: 10px;
}

.user-picture img {
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 100%;
  width: 55px;
}

.card h5 {
  margin-left: 25px;
  color: white;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
}

.title {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
  font-family: "League Spartan", sans-serif;
}

.message {
  margin: 0;
  font-size: 18px;
  margin-left: 25px;
  color: white;
  text-align: start;
  width: 285px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  padding: 5px;
  line-height: 20px;
}

.text {
  text-align: start;
  font-size: 19px;
  font-family: "League Spartan", sans-serif;
  color: hsl(303, 10%, 53%);
  width: 450px;
}

.name {
  text-align: start;
  font-size: 50px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  font-family: "League Spartan", sans-serif;
  width: 320px;
}

@media screen and (max-width: 1280px) {
  .card-rating:nth-child(1) {
    margin-left: 00px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .card-rating:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
  }

  .card-rating:nth-child(3) {
    margin-left: 00px;
    margin-top: 15px;
  }
  .group-card {
    flex-direction: column;
    justify-content: center;
    margin-left: 00px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .group-card {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    margin-top: 30px;
  }
}
